header{
    text-align: center;
    background-color:rgb(255, 255, 128);
    color:
}
body{
  background-color: rgb(255, 255, 128);
}
#pagina{
  font-style: italic;
  font-family: monospace;
}
h2{
  background-color: grey;
display: flex;
align-content:
}

#fotos{
  border: solid 5px;
}
section{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    border: solid 5px;
}
article{
    display: inline-block;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Components{
display: inline-flex;
border-style: solid;
border-width: medium;
margin: 40px;
background-color: grey;
font-style: italic;
font-family: cursive;
}
table, tr, td {
  border:2px solid black;
  text-align: center;
  width: device-width;
  font-family: cursive;
  font-style: oblique;
  font-size: 20px;
  background-color: rgb(255, 70, 128);
}
p{
  justify-content: space-between;
}
#migosnba{
  width: 20px;
}
img{
  width: 350px;
  justify-content: space-around;
  border: 10px;
  border-style: ridge;
}

.container {
  position: relative;
}

.bottomright {
  position: absolute;
  bottom: 6px;
  right: 556px;
  font-size: 38px;
  font-style: italic;
  color: rgb(255, 255, 0);
}

#foto {
  width: 500px;
  height: 300px;
  opacity: 0.9;
  border: solid 2px;
}
